{% macro message_thread(message, options) %}
  {% set recursive = options.recursive ?? true %}
  {{ block('message_thread') }}
{% endmacro %}

{% macro message_reply(message) %}
  {{ block('message_reply') }}
{% endmacro %}

{% block message_thread %}
  {% from _self import message_user %}
  <article class="message-thread" id="mt{{ message.id }}">
    <div class="message-thread-inner">
      <h1 class="message-head">
        {{ 'heading.message_thread'|trans({
          '%sender%': message_user(message),
          '%receiver%': message_user(message, false),
          '%timestamp%': block('message_date'),
        })|raw }}
      </h1>
      {{ block('message_body') }}
    </div>

    {% if recursive %}
      {% for message in message.replies %}
        {{ block('message_reply') }}
      {% endfor %}
    {% endif %}
  </article>
{% endblock %}

{% block message_reply %}
  {% from _self import message_user %}
  <article class="message-reply" id="mr{{ message.id }}">
    <h1 class="message-head">
      {{ 'heading.message_reply'|trans({
        '%sender%': message_user(message),
        '%timestamp%': block('message_date'),
      })|raw }}
    </h1>
    {{ block('message_body') }}
  </article>
{% endblock %}

{% macro message_user(message, sender=true) %}
  {%- set user = sender ? message.sender : message.receiver -%}
  <a href="{{ path('user', {username: user.username}) }}" class="message-{{ sender ? 'sender' : 'receiver' }} {{ user == app.user ? 'message-self' }}">
    {{- user.username -}}
  </a>
{% endmacro %}

{% block message_date %}
  {% with {date: message.timestamp|localizeddate()} %}
    <time datetime="{{ message.timestamp|date('c') }}" title="{{ date }}" class="relative-time">
      {{- 'time.on_timestamp'|trans({'%timestamp%': date}) -}}
    </time>
  {% endwith %}
{% endblock %}

{% block message_body %}
  <div class="message-body">{{ message.body|cached_markdown|raw }}</div>
{% endblock %}
