{% extends 'base.html.twig' %}

{% block title %}
  {{ 'user_settings.title'|trans({'%username%': user.username}) }}
{% endblock %}

{% block body %}
  <h1 class="page-heading">{{ block('title') }}</h1>

  {{ form_start(form) }}
    <fieldset class="form__group">
      <legend class="form__group-header">{{ 'label.general'|trans }}</legend>

      {{ form_row(form.locale) }}

      {{ form_row(form.front_page) }}

      {{ form_row(form.openExternalLinksInNewTab) }}
    </fieldset>

    <fieldset class="form__group">
      <legend class="form__group-header">{{ 'label.appearance'|trans }}</legend>

      {{ form_row(form.preferred_theme, {attr: {class: 'select2'}}) }}

      {{ form_row(form.night_mode) }}

      {{ form_row(form.show_custom_stylesheets) }}
    </fieldset>
  {{ form_end(form) }}
{% endblock %}

{% block page_classes %}
  user-settings-page
{% endblock %}

